/* COLORS */
/* GRID */
/* FONT-SIZE */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  /*force box-sizing property to be an inherited property amongst all selectors, effectively changing its default behavior. Our root for this property is now what we declare in the body selector */ }

html {
  min-height: 100%;
  font-size: 62.5%;
  /*Declare default font-size here so we can easily scale all padding and related font-sizing with rem values. We use 62.5% because we want to take the browser default of 16px and bring it down to a default of ten. This way, people with poor vision can resize their default browser font sizes and responsiveness wont be affected.  
			 				this really just changes the definition of what a rem unit is, and thus is more structural than a typography setting*/ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  min-height: 100vh;
  box-sizing: border-box;
  /* Padding and border no longer included when we express size for elements. This is the only structural property included in the body. All other styles are typography related and thus can be found in _typograhy.scss */
  padding: 1rem;
  background-color: black; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

#root {
  height: 100%; }

.fab, .fab__item {
  background-color: #fff;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  position: fixed; }
  .fab__main {
    height: 5rem;
    width: 5rem;
    bottom: 5%;
    right: 50%; }
  .fab__checkbox {
    display: none; }
  .fab__icon {
    position: relative;
    margin-top: 2.5rem; }
    .fab__icon, .fab__icon::before, .fab__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .fab__icon::before, .fab__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .fab__icon::before {
      top: -.8rem; }
    .fab__icon::after {
      top: .8rem; }
  .fab:hover .fab__icon::before, .fab__item:hover .fab__icon::before {
    top: -1.2rem; }
  .fab:hover .fab__icon::after, .fab__item:hover .fab__icon::after {
    top: 1.2rem; }
  .fab__checkbox:checked + .fab .fab__icon, .fab__checkbox:checked + .fab__item .fab__icon {
    background-color: transparent; }
  .fab__checkbox:checked + .fab .fab__icon::before, .fab__checkbox:checked + .fab__item .fab__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .fab__checkbox:checked + .fab .fab__icon::after, .fab__checkbox:checked + .fab__item .fab__icon::after {
    top: 0;
    transform: rotate(-135deg); }

/* The <MenuItem> component makes use of .fab, which is already defined in _mainButton.scss */
.fab__item {
  height: 3rem;
  width: 3rem; }
  .fab__item--1 {
    bottom: 4.5%;
    right: 25%; }
  .fab__item--2 {
    bottom: 13%;
    right: 38%; }
  .fab__item--3 {
    bottom: 20%;
    right: 53%; }
  .fab__item--4 {
    bottom: 13%;
    left: 23%; }
  .fab__item--5 {
    bottom: 4.5%;
    left: 10%; }
  .fab__item__icon {
    position: relative;
    margin-top: 1rem; }

.row {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    /* The not pseudo-class will select everything except for what we specify. In this case, every child but the last child of row. */
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    /*added caret is what specifies the behavior of selecting all classes beginning with the given phrase. If it were simply just class = "col-", it would take that literally and nothing would be selected. */
    float: left;
    overflow: hidden; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-eighth {
    width: calc((100% - 7 * 6rem) / 8); }
  .row .col-threeEighths {
    width: calc(((100% - 7 * 6rem) / 8) * 3 + 2 * 6rem); }
  .row .col-fiveEighths {
    width: calc(((100% - 7 * 6rem) / 8) * 5 + 4 * 6rem); }
  .row .col-sevenEighths {
    width: calc(((100% - 7 * 6rem) / 8) * 7 + 6 * 6rem); }
  .row .col-seventh {
    width: calc((100% - 6 * 6rem) / 7); }
  .row .col-twoSevenths {
    width: calc(((100% - 6 * 6rem) / 7) * 2 + 6rem); }
  .row .col-threeSevenths {
    width: calc(((100% - 6 * 6rem) / 7) * 3 + 2 * 6rem); }
  .row .col-fourSevenths {
    width: calc(((100% - 6 * 6rem) / 7) * 4 + 3 * 6rem); }
  .row .col-fiveSevenths {
    width: calc(((100% - 6 * 6rem) / 7) * 5 + 4 * 6rem); }
  .row .col-sixSevenths {
    width: calc(((100% - 6 * 6rem) / 7) * 6 + 5 * 6rem); }
  .row .col-sixth {
    width: calc((100% - 5 * 6rem) / 6); }
  .row .col-fiveSixths {
    width: calc(((100% - 5 * 6rem) / 6) * 5 + 4 * 6rem); }
  .row .col-fifth {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-twoFifths {
    width: calc(((100% - 4 * 6rem) / 5) * 2 + 6rem); }
  .row .col-threeFifths {
    width: calc(((100% - 4 * 6rem) / 5) * 3 + 2 * 6rem); }
  .row .col-fourFifths {
    width: calc(((100% - 4 * 6rem) / 5) * 4 + 3 * 6rem); }
  .row .col-fourth {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-threeFourths {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + 2 * 6rem); }
  .row .col-third {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-twoThirds {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-half {
    width: calc((100% - 6rem) / 2);
    /* in order t0 use a SASS variable in calc we need to wrap our usual variable in curly brackets and precede those set of braackets with a # */ }

.logoContainer {
  height: 12rem; }

.logo {
  height: 100%;
  width: 27.9rem; }
