/* The <MenuItem> component makes use of .fab, which is already defined in _mainButton.scss */
.fab__item {
	@extend .fab;
	height: 6rem;
	width: 6rem;

	&--1 {
		bottom: 4.5%;
		right: calc((100%-6rem) * .25);
	}

	&--2 {
		bottom: 13%;
		right: calc((100%-6rem) * .35);
	}
	&--3 {
		bottom: 20%;
		left: calc((100%-6rem) * .50);
	}
	&--4 {
		bottom: 13%;
		left: calc((100%-6rem) * .35);	
	}
	&--5 {
		bottom: 4.5%;
		left: calc((100%-6rem) * .25);
	}

	&__icon {
		position: relative;
		margin-top: 2.5rem;
		transform: scale(3);
		color: #1ebba3;
	background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	

	}
}

.menu {
	opacity: 0;

	&--open {
		opacity: 1;
	}
}