/* The <MenuItem> component makes use of .mobMenu, which is already defined in _mainButton.scss */
.mobMenu__item {
	@include button;
	position: fixed;
    transition: all .5s;  
	display: none;
	position: fixed;
	height: 8rem;
	width: 8rem;
    background-color: #01353F;
	border-radius: 50%;
	z-index: 2000;
	box-shadow: 0.14rem 0.14rem 0rem 0rem #1ebba3 inset, -0.14rem -0.14rem 0rem 0rem violet inset;
	text-align: center;
	cursor: pointer;
		
	&--1 {
		bottom: 4.5%;
		right: calc(25% - 4rem);

		@include respond(phone-land){
			bottom: 5%;
			left: calc(85% - 4rem);
		}
	}

	&--2 {
		bottom: 13%;
		right: calc(35% - 4rem);

		@include respond(phone-land){
			bottom: 5%;
			left: calc(70% - 4rem);
		}
	}
	&--3 {
		bottom: 20%;
		left: calc(50% - 4rem);
		@include respond(phone-land) {
			bottom: 5%;
			left: calc(55% - 4rem);
		}
	}
	&--4 {
		bottom: 13%;
		left: calc(35% - 4rem);	

		@include respond(phone-land){
			bottom: 5%;
			left: calc(40% - 4rem);
		}
	}
	&--5 {
		bottom: 4.5%;
		left: calc(25% - 4rem);

		@include respond(phone-land){
			bottom: 5%;
		}
	}		

	&__icon {
		position: relative;
		margin-top: 3.5rem;
		transform: scale(3);
		color: white;
		background: #fff;
	    background: -webkit-linear-gradient(to right bottom, #fff, #1ebba3);
	    background: linear-gradient(to right bottom, #fff, #1ebba3); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

#nav ul li {
	transition: all 2s;
}

#nav ul li i{
    display: block;
}
#nav ul li:hover i {
   display: none;
}
#nav ul li a{
    display: none;
}
#nav ul li:hover a{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.6rem;
   font-weight: 2rem;
   font-family: monaco, courier, monospace;
   color: white;
   text-decoration: none;
   text-shadow: 3px 1px black;
   text-transform: uppercase;
   letter-spacing: .25px;

}

