/* COLORS */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;


$color-black: #000;
$color-white: #fff;
$color-grey51: #333;
$color-grey119: #777;
$color-grey247: #f7f7f7;
$color-grey238: #eee;
$color-grey153: #999;

$fg: #e91e63;
	
	//GRADIENTS
$gradient-primary: linear-gradient(to right, #0b8793, #360033);
$gradient-secondary: linear-gradient(to right, #0b8793, #1ebba3);


/* GRID */
$grid-width: 100%; 
$grid-height: 100%;
$gutter-vertical: 4rem;
$gutter-vertical-sm: 2rem;
$gutter-horizontal: 6rem;


/* FONT-SIZE */
$default-font-size: 1.6rem;

