.headContainer {
	height: 7vh;

	@include bp("standard-land") {
		height: 0;
	}
}

.fullWindow {
	min-height: 100vh;
}

.logo {
	height: 100%;
	width: 27.9rem;
}

h1 {
	position: absolute;
	top: 10%;
	left: 44%;
	font-size: 4rem;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
}